<main class="p-5">
<div>
  <h1>Hello World!</h1>
  {{> title data="My title"}}
  <div>
    <img src="/svg/img.svg">
    <img src="/svg/user.svg">

  </div>
  <ul>
    {{#each list}}
      <li>

       <button style="color:crimson;" {{#if @last}}disabled{{/if}}>{{name}} - {{@index}}</button>
       
      </li>
    {{/each}}
  <br />
  <div style="color:blue;">
     {{#each user}}
      <li>
        {{@key}} -
        {{#if value}}
          {{value}}
        {{else}}
          {{text}}
        {{/if}}
        
      </li>
    {{/each}}
    </div>
  <br />
  <div style="color:rgb(22, 169, 22);">
     {{#each users}}
      <li>
        {{this}}     
      </li>
    {{/each}}
    </div>
  </ul>
</div>
</main>