<main>
  <div>
    <h1 class='display-3 text-primary'>{{name}}</h1>
    <h4 class='text-centr'>{{description}}</h4>
    <br />
    <button
      type='button'
      class='btn btn-success position-relative'
    >
      {{price}}
      <span
        class='position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning'
      >
        {{category}}
        <span class='visually-hidden'>unread messages</span>
      </span>
    </button>
  </div>
  <section>
    <div class='card'>
      <div class='card-body'>
        <h4>Features:</h4>
        {{#with features}}
          <h6 class='text-info'>Processor</h6>
          {{#with processor}}
            <p>{{brand}}
              /
              {{model}}
              /
              {{speed}}
              /
              {{cache}}</p>
          {{/with}}
          <br />
          {{#with memory}}
            <h6 class='text-info'>Memory</h6>
            <p>
              {{type}}
              /
              {{size}}
              /
              {{speed}}</p>
          {{/with}}
          <br />
          {{#with storage}}
            <h6 class='text-info'>Storage</h6>
            <p>{{type}} / {{size}}</p>
          {{/with}}
          <br />
          {{#with display}}
            <h6 class='text-info'>Display</h6>
            <p>{{size}}
              /
              {{resolution}}
              /
              {{technology}}
              /
              {{color_space}}
              /
              {{brightness}}
              /
              {{refresh_rate}}</p>
          {{/with}}
          <br />
          {{#with graphics}}
            <h6 class='text-info'>Graphics</h6>
            <p>{{brand}} / {{model}} / {{memory}}</p>
          {{/with}}
          <br />
          <div class='card'>
            <div class='card-body'>
              <h6 class='text-success'>Ports</h6>
              {{#each ports}}
                <ul>
                  <li>{{type}} - {{count}}</li>
                </ul>
              {{/each}}
            </div>
          </div>
          <br />
          {{#with battery}}
            <h6 class='text-info'>Battery</h6>
            <p>{{type}} / {{capacity}} / {{life}}</p>
          {{/with}}
          <br />

          <h6 class='text-info'>Dimensions:</h6>
          {{#with dimensions}}
            <p>{{height}} / {{width}} / {{depth}}</p>
          {{/with}}
          <h6 class='text-success'>Weight: ({{weight}})</h6>
          <h6 class='text-success'>OS: ({{operating_system}})</h6>
          <br />

          <h6 class='text-info'>Accessories:</h6>
          {{#each accessories}}
            <a class='btn btn-link'>
              {{name}}
              -
              <span
                class='badge text-bg-success'
              >{{price}}</span>
            </a>
          {{/each}}

        {{/with}}
      </div>
    </div>
  </section>

</main>