
<main>
  {{> breadcrumb}}

  {{#with newsData}} 
  <div class="row">
    <div class="col">
      <div class="my-5">                    
           <div class="col-12">           
              <div class="card">
                <img class="card-img-top" src="{{photo}}">        
                  <div class="card-body">
                {{#with head}}
                  <h2>{{heading}}</h2>
                  <p>{{description}}</p>
                {{/with}} 
                {{#each body}}
                <h4>{{title}}</h4>
                <p>{{text}}</p>
                {{/each}} 
              </div>
             </div>     
           </div>       
      </div>
    </div>
  </div>
  {{/with}} 

    {{> shoppost}}
   
 
    {{> shopaction}}
 
</main>
