<main>
  <div class='row'>
    <h2 class='m-5'>{{header}}</h2>

    {{#with purchase}}
      <ul class='nav nav-tabs'>
        {{#each tabs}}
          <li class='nav-item text-primary'>
            {{#if @first}}
              <a
                class='nav-link active text-dark'
              >{{this}}</a>
            {{/if}}

            {{#if @last}}
              <a
                class='nav-link disabled text-primary'
              >{{this}}</a>
            {{/if}}
          </li>
        {{/each}}
      </ul>

      <div class='my-3'>
        {{#with actionBlock}}
          {{#with input}}
            <div class='col-4'>
              <input
                class='form-control'
                value='{{placeholder}}'
              />
            </div>
          {{/with}}

          <div class='col-10 my-3'>
            {{#each buttons}}
              {{#if isSuccess}}
                <a
                  class='btn btn-success mx-2'
                  href='{{link}}'
                >{{text}}</a>
              {{/if}}
              {{#if isOutline}}
                <a
                  href='{{link}}'
                  class='btn btn-outline-success mx-2'
                >{{text}}</a>
              {{/if}}
              {{#if isDanger}}
                <a
                  href='{{link}}'
                  class='btn btn-outline-danger mx-2'
                >{{text}}</a>
              {{/if}}
            {{/each}}
          </div>
        {{/with}}
      </div>

      <hr class='my-4' />
      {{#each itemList}}
        <div class='card p-2'>
          <div class='card-body row'>
            <div class='col-3'>
              {{number}}
              <h5>{{status}}</h5>
            </div>
            <div class='col-2'>
              {{#with amount}}
                <div class='my-2'>{{title}}</div>
                <h4>{{value}}</h4>
              {{/with}}
            </div>
            <div class='col-4'>
              {{#each images}}
                <img src='{{this}}' />
              {{/each}}
            </div>
            <div class='col-3'>
              {{#with button}}
                {{#if isPrimary}}
                  <a
                    class='btn btn-primary'
                    href='{{link}}'
                  >{{text}}</a>
                {{/if}}
              {{/with}}
            </div>
          </div>
        </div>
      {{/each}}
    {{/with}}
    <hr class='my-3' />

    {{#with userInfo}}
      <h3 class='mt-5 mb-2'>{{title}}</h3>
      <div class='card'>
        <div class='card-body'>
          {{#with profileData}}
            <h4>{{title}}</h4>
            <div class='card my-3'>
              <div class='card-body row'>
                {{#with fullName}}
                  <div class='col-4'>
                    {{#with surname}}
                      {{title}}
                      <p>{{value}}</p>
                    {{/with}}
                  </div>
                  <div class='col -4'>
                    {{#with name}}
                      {{title}}
                      <p>{{value}}</p>
                    {{/with}}
                  </div>
                  <div class='col-4'>
                    {{#with middleName}}
                      {{title}}
                      <p>{{value}}</p>
                    {{/with}}
                  </div>
                {{/with}}
              </div>
            </div>

            <div class='card mb-3'>
              <div class='card-body row'>
                {{#with otherInfo}}
                  <div class='col-4'>
                    {{#with birthday}}
                      {{title}}
                      <p>{{value}}</p>
                    {{/with}}
                  </div>
                  <div class='col -4'>
                    {{#with sex}}
                      {{title}}
                      <p>{{value}}</p>
                    {{/with}}
                  </div>
                  <div class='col-4'>
                    {{#with language}}
                      {{title}}
                      <p>{{value}}</p>
                    {{/with}}
                  </div>
                {{/with}}
              </div>
            </div>
          {{/with}}
          <div class='card'>
            <div class='card-body row'>
              {{#each buttons}}
                <div class='col-4'>
                  {{#if isPrimary}}
                    <a
                      class='btn btn-primary mx-5 gx-5'
                      href='{{link}}'
                    >{{text}}</a>
                  {{/if}}
                  {{#if isSecondary}}
                    <a
                      class='btn btn-outline-secondary mx-5 gx-5'
                      href='{{link}}'
                    >{{text}}</a>
                  {{/if}}
                  {{#if isDanger}}
                    <a
                      class='btn btn-outline-danger mx-5 gx-5'
                      href='{{link}}'
                    >{{text}}</a>
                  {{/if}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      {{#with recipients}}
        <div class='card my-4'>
          <div class='card-body row'>
            <h4>{{title}}</h4>

            {{#each users}}
              <div class='col-6'>
                <div class='card'>
                  <div class='card-body my-2'>
                    <label
                      class='form-label'
                    >{{name}}</label>
                    <input
                      class='form-control'
                      value='{{phone}}'
                    />
                    {{#with button}}
                      <a
                        class='btn btn-primary mt-2'
                        href='{{link}}'
                      >{{text}}</a>
                    {{/with}}
                  </div>
                </div>
              </div>
            {{/each}}

          </div>
        </div>
      {{/with}}

      {{#with contacts}}
        <div class='card my-3'>
          <div class='card-body row'>
            <h4>{{title}}</h4>

            {{#with contactData}}
              <div class='col-4'>
                <div class='card'>
                  <div class='card-body'>
                    {{#with phone}}
                      <label
                        class='form-label'
                      >{{title}}</label>
                      <input
                        class='form-control'
                        value='{{value}}'
                      />
                    {{/with}}
                  </div>
                </div>
              </div>

              <div class='col-4'>
                <div class='card'>
                  <div class='card-body'>
                    {{#with additionalPhone}}
                      <label
                        class='form-label'
                      >{{title}}</label>
                      <input
                        class='form-control'
                        value='{{value}}'
                      />
                    {{/with}}
                  </div>
                </div>
              </div>
              <div class='col-4'>
                <div class='card'>
                  <div class='card-body'>
                    {{#with email}}
                      <label
                        class='form-label'
                      >{{title}}</label>
                      <input
                        class='form-control'
                        value='{{value}}'
                      />
                    {{/with}}
                  </div>
                </div>
              </div>
            {{/with}}
            {{#each buttons}}
              <div class='col-4 mt-3'>
                {{#if isPrimary}}
                  <a
                    class='btn btn-primary mx-5 gx-5'
                    href='{{link}}'
                  >{{text}}</a>
                {{/if}}
                {{#if isSecondary}}
                  <a
                    class='btn btn-outline-secondary mx-5 gx-5'
                    href='{{link}}'
                  >{{text}}</a>
                {{/if}}
                {{#if isDanger}}
                  <a
                    class='btn btn-outline-danger mx-5 gx-5'
                    href='{{link}}'
                  >{{text}}</a>
                {{/if}}
              </div>
            {{/each}}

          </div>
        </div>

      {{/with}}

    {{/with}}

  </div>
</main>