<main>
  <div>
    <h1 class='text-centr'>{{page_header.title}}</h1>
    <div
      class='text-uppercase text-centr'
    >{{page_header.description}}</div>
  </div>

  <br />
  <br />

  {{#with section}}
    <div class='card'>
      <div class='card-body'>
        <div
          class='display-6 text-end'
        >{{about_us.title_list.main}}</div>
        <h2
          class='display-6 text-end'
        >{{about_us.title_list.sub}}</h2>

        <button
          class='btn btn-outline-info'
        >{{about_us.button.text}}</button>
      </div>
    </div>

    <br />
    <br />
    {{#with advantage}}
      <div class='display-5 text-secondary'>{{title}}
      </div>
      <br />
      <div class='card'>
        <div class='card-body'>
          <div
            class='display-4 text-secondary'
          >{{efficiency.title}}
          </div>
          <h6>{{efficiency.sub_title}}</h6>
          <p>{{efficiency.description}}</p>
          <button
            class='btn btn-outline-warning'
          >{{efficiency.button}}</button>
        </div>
      </div>
      <br />

      <div class='card'>
        <div class='card-body'>
          <div
            class='display-4 text-center text-secondary'
          >{{innovation.title}}</div>
          <h6
            class='text-center'
          >{{innovation.sub_title}}</h6>
          <p
            class='text-center'
          >{{innovation.description}}</p>

          <button
            class='btn btn-outline-warning'
          >{{efficiency.button}}</button>
        </div>
      </div>
      <br />
      <div class='card'>
        <div class='card-body'>
          <div
            class='display-4 text-end text-secondary'
          >{{collaboration.title}}</div>
          <h6
            class='text-end'
          >{{collaboration.sub_title}}</h6>
          <p
            class='text-end'
          >{{collaboration.description}}</p>

          <button
            class='btn btn-outline-warning'
          >{{efficiency.button}}</button>
        </div>
      </div>
    {{/with}}
    <br />
    <br />
    {{#with agreement}}
      <div class='card'>
        <div class='card-body'>
          <div class='display-5'>
            {{title}}
          </div>
          <div class='card card-body'><h5
            >{{info.sub_title}}</h5>
            <div class='card'>
              <div class='card-body'>
                <p>{{info.detail.text}}</p>
                <button
                  class='btn btn-success'
                >{{info.detail.button}}</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    {{/with}}

  {{/with}}

</main>