<div>
  {{> title data='Web languages' big=true}} 

  {{#with web}}
 
    <ul>
      {{#each languages}}
      <li>
        <h2>{{name}} / {{version}}</h2>
        <em>{{description}}</em>
        {{#each elements}}
        <ul>
          <li>
            <p>{{name}} ({{description}})</p>
            {{#each attributes}}
              <details>
                <summary>{{name}} ({{description}})</summary>
              </details>
            {{/each}}
          </li>
        </ul>
        {{/each}}


        {{#each properties}}
        <ul>
          <li>
            <p>{{name}} ({{description}})</p>
            {{#each values}}
              <details>
                <summary>{{value}} ({{description}})</summary>
              </details>
            {{/each}}

          </li>
        </ul>
        {{/each}}


         {{#each functions}}
         <ul>
          <li>
            <p>{{name}} ({{description}})</p>
            {{#each parameters}}
              <details>
                <summary>{{name}} / {{type}} ({{description}})</summary>
              </details>
            {{/each}}
          </li>
         </ul>
         {{/each}}


      </li>
      {{/each}}
    </ul>
  {{/with}}
  
</div>
